/* WRAPPERS */
.main__wrapper {
    padding: 0 10px;
}

/* STUFF */
.title {
    color: #438bbd;
    font-size: 33px;
    font-family: 'Signika', sans-serif;
    padding-bottom: 10px;
}

.main-nav {
    margin-top: 2.2em;
}

.search-form {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
}

/** FEATURE-LIST **/

.feature-list {
    max-width: 1300px;
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
}

.feature-list__title {
    font-size: 1.5em;
    margin: 40px 0;
}

.feature-list__item {
    height: 210px;
    text-align: center;
    border: 1px solid #ccc;
    transition: all .25s ease;
    padding: 5px;
    margin: 5px;
}

.feature-list__item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px 0 rgba(0,0,0, 0.15);
}

.feature-list__item__img {
    display: block;
    width: 100%;
    height: calc(100% - 45px);
    background: url('/img/nature_sunflower.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.feature-list__item__title {
    line-height: 1;
}

/** GALLERY **/
.photo-container {
    max-width: 1000px;
    margin: auto;
}

.gallery__item {
    border-radius: 8px;
    border: 2px solid #438bbd;
}

input, .search-button {
    height: 44px;
}

/** Pagination **/
.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pagination__input span form {
    display: inline-block;
}

.pagination__page,
.pagination__back {
    padding: 0 5px;
}

.pagination__input input {
    width: 80px;
    height: 21px;
    text-align: center;
    padding: 5px;
}

.pagination__input span span {
    margin: 0 5px;
}

.pagination__back img,
.pagination__forward img {
    cursor: pointer;
}

.pagination__forward img {
    transform: rotate(180deg);
}

/** ERROR **/
.error__icon {
    font-size: 100px;
    color: #438bbd;
    margin-top: 15px;
}

.error__title {
    text-decoration: underline;
    font-size: 1.7em;
}

/** COG LOADING **/
.cog {
    margin: 40px;
}

.cog__outer {
    transform-origin: center;
    animation: spin 1s cubic-bezier(.03,1,.77,1) infinite;
}

@keyframes spin {
    100% {
        transform: rotate(45deg);
    }
}

@media only screen and (min-width: 420px) {
    .title {
        font-size: 44px;
    }
}

@media only screen and (min-width: 640px) {
    .title {
        font-size: 52px;
    }

    .feature-list {
        flex-direction: row;
    }

    .feature-list__item {
        flex: 1 0 45%;
    }

    .gallery__item {
        border-width: 2px;
    }
}

@media only screen and (min-width: 768px)  {
  body {
    /*padding-top: 4em;*/
  }

  .container {
    max-width: 960px;
    margin: auto;
  }

  .main-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  .main-nav li {
    margin: 10px;
    width: 100px;
  }

  input {
      max-width: 640px;
  }

  .search-form {
      height: 155px;
      background: url(/img/nature_green.jpg);
      background-position: center;
      background-repeat: no-repeat;
  }

    .feature-list__item {
        flex: 1 0 28%;
    }
}

@media only screen and (min-width: 1024px)  {
    .feature-list__item {
        height: 255px;
        padding: 10px;
        margin: 0 10px;
    }

    .search-form {
        height: 250px;
    }
}
